main{
    text-align: center;
    padding: 2rem;
}

.playerinput{
    display: inline-grid;
    padding: 2em;
}

.scoreboard p{
    display: inline;
}

.gameboard{
    padding: 2rem;
}

.disabled{
    filter: opacity(0.5);
    pointer-events: none;
}

.enabled{
    filter: none;
    pointer-events: all;
}